<title> Carte </title>


<mat-sidenav-container class="map-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">>> </mat-checkbox></p> -->
    <div id='map'></div>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="sidenav.opened === false">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened === true">chevron_left</mat-icon>
    </button>

    

  </mat-sidenav-content>
</mat-sidenav-container>

