<title> Carte </title>


<mat-sidenav-container class="map-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <app-left-menu-sidenav ></app-left-menu-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">>> </mat-checkbox></p> -->    
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="sidenav.opened === false">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened === true">chevron_left</mat-icon>
    </button>
    <app-map></app-map>

    

  </mat-sidenav-content>
</mat-sidenav-container>

