 <mat-toolbar>
    <mat-toolbar-row>
        <button mat-raised-button id="button1" color="primary" (click)="clickedButton($event)" >update features</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button id="button2" color="primary" (click)="clickedButton($event)" >test multiple http</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button id="button3" color="primary" (click)="clickedButton($event)" >test multiple http Observables</button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
    </mat-toolbar-row>
</mat-toolbar>